/* basic style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6em;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3062be;
    transition: .5s;

}
/* header style */

header {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 200px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav .logo{
    max-width: 80px;
    position: relative;
}
nav ul li {
    display: inline-block;
}
nav ul li a{
    color: #fff;
    text-transform: capitalize;
    margin: 0 10px;
    font-weight: 400;
    display: inline-block;
}

/* content style */

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    flex-wrap: wrap;
}
.content .text-data{
    max-width: 600px;
    color: #fff;
}
.text-data h2{
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
}
.text-data h2 span{
    font-size:2em;
}
.text-data p{
    line-height: 1.4em;
}
.text-data a{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    background: #fff;
    color: #111;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 40px;
    font-weight: 600;
}
.content .imgBox{
    padding-right: 50px;
    width: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.imgBox img{
    max-width: 260px;
}


.thumb{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    bottom: 20px;
}
.thumb li{
   display: inline-block;
    transition: .2s;
    cursor: pointer;
    margin: 0 20px;
}
.thumb li img{
    max-width: 40px;
}
.thumb li:hover{
    transform: translateY(-10px);
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sci li a{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(.6);
}
label {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 20px;
    display: none;
    position: relative;
    cursor: pointer;
}
#check{
    display: none;
}

label > span{
    display: inline-block;
    background: #ffffff;
    width: 100%;
    height: 3px;
    margin-top: 1px;
    border-radius: 5px;
    transition: .3s;
}
/* responsive code */

@media screen and (max-width:1000px){
    nav .logo{
        max-width: 50px;
    }
    header {
        padding: 20px 50px;
    }
    section {
        padding: 100px 30px;
    }
    .content .imgBox {
        justify-content: flex-start;
    }
}
@media screen and (max-width:768px){
    nav ul.active{
        left: 0;
    }
    /* #check:checked ~ nav ul{
       background: red;
       transform: rotate(50deg);
    } */
    nav ul{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #132a55;
        color: #fff;
        width: 80%;
        height: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        z-index: 1;
        margin-top: 70px;
        transition: .3s ease;
        font-size: 25px;
    }
    label.active span{

        position: absolute;
    }
    label.active span:nth-child(2){
        opacity: 0;
    }
    label.active span:first-child{
        transform: rotate(40deg);
    }
    label.active span:last-child{
        transform: rotate(-40deg);
    }
    nav ul li{
        margin-top: 40px;
    }
     label{
        display: flex;
    } 
    .text-data h2 {
        font-size: 2.5em;
    }
    .thumb {
        left: 27%;
        bottom: 0;
    }
}
@media screen and (max-width:540px){
   .content{
       padding: 0 10px;
   }
   .section{
       padding: 100px 20px;
   }
   .section{
    padding: 100px 10px;
}
}
@media screen and (max-width:425px){
    .section{
        padding: 100px 10px;
    }
    .sci{
        display: none;
    }
    .imgBox{
        max-width: 80%;
    }
    .imgBox img{
        max-width: 100%;
    }
    .thumb {
        left: 40%;
        bottom: 0;
    }
    .content{
        padding: 0 0x;
    }
    
}